html,
body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.col-md-2, .col-md-10{
    padding:0;
}
.panel{
    margin-bottom: 0px;
}
.nick-chat {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.container-login {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 400px;
  height: 350px;
}
.chat-window{
    bottom:0;
    position:fixed;
    float: right;
    right: 0;
    margin-left:10px;
}
.chat-window > div > .panel{
    border-radius: 5px 5px 0 0;
}
.icon_minim{
    padding:2px 10px;
}
.msg_container_base{
  background: #e5e5e5;
  margin: 0;
  padding: 0 10px 10px;
  max-height:300px;
  overflow-x:hidden;
}
.top-bar {
  background: #666;
  color: white;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width:100%;
}

.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
}

.messages > time {
    font-size: 11px;
    color: #ccc;
}

.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}
img {
    display: block;
    width: 100%;
}
.avatar {
    position: relative;
}

.msg_receive{
    padding-bottom: 20px !important;
    margin-left: 0;
}

.msg_sent{
    padding-bottom: 20px !important;
    margin-right: 0;
}

.base_sent {
  justify-content: flex-end;
  align-items: flex-end;
  display: block !important;
  width: 100%;
  margin: 0;
  padding: 5px 0 5px 5px;
}

.base_receive {
    justify-content: flex-end;
    align-items: flex-end;
    display: block !important;
    width: 100%;
    margin: 0;
    padding: 5px 0 5px 5px;
}

.msg_sent > time{
    float: right;
}

.msg_receive > time{
    float: right;
}

.msg_sent > p{
    float: left;
    padding-bottom: 15px;
}

.msg_receive > p{
    float: left;
    padding-bottom: 15px;
}

.btn-group.dropup{
    position: fixed;
    right: 295px;
    top: 500 ;
}

.avatar {
  text-align: center;
}

.avatar img {
  border-radius: 50%;
  width: 50px;
  display: inline-block;
}

input[type="text"],input[type="password"],input[type="submit"] {
	margin-bottom: 5px !important;
}

#mensagens {
	background-color: #eeeeee  !important;
	height: 700px  !important;
}

#mensagens li {
	list-style: none  !important;
	padding: 7px  !important;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    margin-bottom: 5px;
}